<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ modoNuevo ? 'Añadir Coche' : 'Detalle del Coche' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Marca</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo" placeholder="Marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Modelo</ion-label>
    <ion-input [(ngModel)]="tareaEditando.descripcion" placeholder="Modelo"></ion-input>
  </ion-item>

  <!-- El botón cambiará entre "Guardar" y "Modificar" según el contexto -->
  <ion-button (click)="modoNuevo ? clicBotonGuardar() : clicBotonModificar()" 
  [color]="modoNuevo ? 'success' : 'primary'">
    {{ modoNuevo ? 'Guardar Coche' : 'Modificar Coche' }}
  </ion-button>

  <!-- El botón de borrar solo aparece si estamos editando un coche -->
  <ion-button *ngIf="!modoNuevo" (click)="clicBotonBorrar()" color="danger">Borrar Coche</ion-button>
</ion-content>
