<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ modoNuevo ? 'Añadir Coche' : 'Detalle del Coche' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Marca</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo" placeholder="Marca"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Modelo</ion-label>
    <ion-input [(ngModel)]="tareaEditando.descripcion" placeholder="Modelo"></ion-input>
  </ion-item>

  <!-- Sección para seleccionar y mostrar imagen -->
  <ion-item>
    <ion-label position="stacked">Imagen del Coche</ion-label>
    <ion-button (click)="seleccionarImagen()">Seleccionar Imagen</ion-button>
  </ion-item>
  
  <ion-item *ngIf="imagenSelec">
    <img [src]="imagenSelec" alt="Imagen seleccionada" style="width: 100%; max-height: 300px; object-fit: cover;" />
  </ion-item>

  <!-- Botón para subir imagen -->
  <ion-button (click)="subirImagen()" color="tertiary" *ngIf="imagenSelec">
    Subir Imagen
  </ion-button>

  <!-- Botón para eliminar imagen (si ya tiene una subida) -->
  <ion-button *ngIf="tareaEditando.imagenURL" (click)="eliminarArchivo(tareaEditando.imagenURL)" color="danger">
    Eliminar Imagen
  </ion-button>

  <!-- Botón cambiará entre "Guardar" y "Modificar" según el contexto -->
  <ion-button (click)="modoNuevo ? clicBotonGuardar() : clicBotonModificar()" 
  [color]="modoNuevo ? 'success' : 'primary'">
    {{ modoNuevo ? 'Guardar Coche' : 'Modificar Coche' }}
  </ion-button>

  <!-- Botón de borrar solo aparece si estamos editando un coche -->
  <ion-button *ngIf="!modoNuevo" (click)="confirmarBorrado()" color="danger">
    Borrar Coche
  </ion-button>
</ion-content>
