<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Venta de Vehiuclos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Modelo</ion-label>
    <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
  </ion-item>


  <ion-button (click)="clickBotonInsertar()">Añadir Coche</ion-button>


  <h1>Lista de Coches</h1>
  <ion-list>
    <ion-item *ngFor="let documentTarea of arrayColeccionTareas">
      <ion-grid>
        <ion-row>
          <h2>{{documentTarea.data.titulo }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentTarea.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>